# Django
**/blogsite/db.sqlite3
**/blogsite/media/
**/blogsite/__pycache__/
**/*.pyc
**/*.log

# Environments
env/
venv/
.env

# Frontend
node_modules/
frontend/dist/
frontend/.env.local

# OS
.DS_Store
Thumbs.db
